//output:blog.html

doctype
html
	title 5adiyah
	link(rel="stylesheet", href="normalize.css")
	link(rel="stylesheet", href="skeleton.css")
	link(rel="stylesheet", href="styles.css")
	link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel="stylesheet" type="text/css")
	body

		.container
			.whitebox
				.container
					.header
						p.center
							a(href="index.html")
								img(src='images/profile.png')

					.title
						h2.center.darkpurple SADIO ALI
					.subsitle
						p.center.tan EAT | SLEEP | CODE | REPEAT

					p.center
						a.button(href="index.html#about") About Me
						a.button(href="index.html#portfolio") Portfolio
						a.button(href="blog.html#blog") My Blog
						a.button(href="index.html#contact") Contact

					hr#about

				.blogcontent
					.row
						.twelve.columns.post
							.blogimage
								img.blogimg(src='images/blog1.jpeg', alt=('Landscape image'), width="100px;", height="100px;")
							.blogtext
								h4 Blog Post Title
								p.tan Author Name | Post Date
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tristique lectus vel nulla vehicula accumsan. Nulla est justo, interdum sit amet dui quis, eleifend blandit diam. Proin id sagittis mauris. Mauris sagittis tempor ante, eu posuere dolor tincidunt sed. Praesent fermentum vehicula ex vel eleifend. Donec commodo, ligula eget molestie mollis, lectus dolor aliquet enim, non consequat lectus nulla eget turpis. Donec eget orci sed justo aliquet consectetur. Nam consequat odio sed pulvinar viverra.
								pre
									code 
										p Aenean non finibus eros, in faucibus mauris. <br>Integer tincidunt nunc cursus eros mollis in faucibus mauris. <br>Integer tincidunt nunc cursus eros mollis
								p Aenean non finibus eros, in faucibus mauris. Integer tincidunt nunc cursus eros mollis, et pellentesque sem faucibus. Pellentesque mollis bibendum dui a hendrerit.Proin maximus ex odio, facilisis vulputate velit accumsan at. Vivamus rhoncus neque non tincidunt molestie. Praesent fermentum quis diam vitae consequat. Sed est magna, suscipit et elementum sit amet, egestas quis quam. Vivamus et diam risus. Sed tincidunt tempus dictum. Phasellus porta, sem a posuere tincidunt, ex purus aliquet nulla, cursus convallis velit arcu id arcu. Quisque ut dictum erat, fermentum porttitor sem. Sed vitae magna in nibh tincidunt imperdiet nec sit amet lectus. Aliquam pretium congue sem quis lacinia. Aenean euismod arcu vel posuere condimentum. Proin maximus ex odio, facilisis vulputate velit accumsan at. Vivamus rhoncus neque non tincidunt molestie. Praesent fermentum quis diam vitae consequat.
						.twelve.columns.post
							.blogimage
								img.blogimg(src='images/blog2.jpeg', alt=('Landscape image'), width="100px;", height="100px;")
							.blogtext
								h4 Blog Post Title
								p.tan Author Name | Post Date
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tristique lectus vel nulla vehicula accumsan. Nulla est justo, interdum sit amet dui quis, eleifend blandit diam. Proin id sagittis mauris. Mauris sagittis tempor ante, eu posuere dolor tincidunt sed. Praesent fermentum vehicula ex vel eleifend. Donec commodo, ligula eget molestie mollis, lectus dolor aliquet enim, non consequat lectus nulla eget turpis. Donec eget orci sed justo aliquet consectetur. Nam consequat odio sed pulvinar viverra.
								p 
									em Lists
									ul
										li Phasellus porta, sem a posuere tincidunt,
										li Proin maximus ex odio
											li Vivamus rhoncus neque
										li Vivamus et diam risus.
								p Aenean non finibus eros, in faucibus mauris. Integer tincidunt nunc cursus eros mollis, et pellentesque sem faucibus. Pellentesque mollis bibendum dui a hendrerit. Sed est magna, suscipit et elementum sit amet, egestas quis quam. Vivamus et diam risus. Sed tincidunt tempus dictum. Phasellus porta, sem a posuere tincidunt, ex purus aliquet nulla, cursus convallis velit arcu id arcu. Quisque ut dictum erat, fermentum porttitor sem. Sed vitae magna in nibh tincidunt imperdiet nec sit amet lectus. Aliquam pretium congue sem quis lacinia. Aenean euismod arcu vel posuere condimentum. Proin maximus ex odio, facilisis vulputate velit accumsan at. Vivamus rhoncus neque non tincidunt molestie. 
								p.center
									img(src='images/blog2.jpeg', alt=('Landscape image'), width="400px;")
								p Praesent fermentum quis diam vitae consequat.Aenean non finibus eros, in faucibus mauris. Integer tincidunt nunc cursus eros mollis, et pellentesque sem faucibus. Pellentesque mollis bibendum dui a hendrerit. Sed est magna, suscipit et elementum sit amet, egestas quis quam. Vivamus et diam risus. Sed tincidunt tempus dictum. Phasellus porta, sem a posuere tincidunt, ex purus aliquet nulla, cursus convallis velit arcu id arcu. Quisque ut dictum erat, fermentum porttitor sem. Sed vitae magna in nibh tincidunt imperdiet nec sit amet lectus. Aliquam pretium congue sem quis lacinia. Aenean euismod arcu vel posuere condimentum. Proin maximus ex odio, facilisis vulputate velit accumsan at. Vivamus rhoncus neque non tincidunt molestie. Praesent fermentum quis diam vitae consequat.
							
											
						.twelve.columns.post
							.blogimage
								img.blogimg(src='images/blog3.jpg', alt=('Landscape image'), width="100px;", height="100px;")
							.blogtext
								h4 Blog Post Title
								p.tan Author Name | Post Date
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tristique lectus vel nulla vehicula accumsan. Nulla est justo, interdum sit amet dui quis, eleifend blandit diam. Proin id sagittis mauris. Mauris sagittis tempor ante, eu posuere dolor tincidunt sed. Praesent fermentum vehicula ex vel eleifend. Donec commodo, ligula eget molestie mollis, lectus dolor aliquet enim, non consequat lectus nulla eget turpis. Donec eget orci sed justo aliquet consectetur. Nam consequat odio sed pulvinar viverra.
								table
									thead
										tr
											th Name
											th Age
											th Location
										tbody
											tr
												td Jane Smith
												td 21
												td Portland Or
											tr
												td John Doe
												td 43
												td New York Ny
											tr
												td James Doe Smith
												td 19
												td Seattle Wa
								p.strong Aenean non finibus eros:
								p.center
									img(src='images/blog3.jpg', alt=('Landscape image'), width="900px;")
								p in faucibus mauris. Integer tincidunt nunc cursus eros mollis, et pellentesque sem faucibus. Pellentesque mollis bibendum dui a hendrerit. Sed est magna, suscipit et elementum sit amet, egestas quis quam. Vivamus et diam risus. Sed tincidunt tempus dictum. Phasellus porta, sem a posuere tincidunt, ex purus aliquet nulla, cursus convallis velit arcu id arcu. Quisque ut dictum erat, fermentum porttitor sem. Sed vitae magna in nibh tincidunt imperdiet nec sit amet lectus. Aliquam pretium congue sem quis lacinia. Aenean euismod arcu vel posuere condimentum. Proin maximus ex odio, facilisis vulputate velit accumsan at. Vivamus rhoncus neque non tincidunt molestie. Praesent fermentum quis diam vitae consequat.
								p 
									strong More Lists
									ol
										li Phasellus porta, sem a posuere tincidunt,
										li Proin maximus ex odio
											li Vivamus rhoncus neque
										li Vivamus et diam risus.
								p in faucibus mauris. Integer tincidunt nunc cursus eros mollis, et pellentesque sem faucibus. Pellentesque mollis bibendum dui a hendrerit. Sed est magna, suscipit et elementum sit amet, egestas quis quam. Vivamus et diam risus. Sed tincidunt tempus dictum. Phasellus porta, sem a posuere tincidunt, ex purus aliquet nulla, cursus convallis velit arcu id arcu. Quisque ut dictum erat, fermentum porttitor sem. Sed vitae magna in nibh tincidunt imperdiet nec sit amet lectus. Aliquam pretium congue sem quis lacinia. Aenean euismod arcu vel posuere condimentum. Proin maximus ex odio, facilisis vulputate velit accumsan at. Vivamus rhoncus neque non tincidunt molestie. Praesent fermentum quis diam vitae consequat.
								p in faucibus mauris. Integer tincidunt nunc cursus eros mollis, et pellentesque sem faucibus. Pellentesque mollis bibendum dui a hendrerit. Sed est magna, suscipit et elementum sit amet, egestas quis quam. Vivamus et diam risus. Sed tincidunt tempus dictum. Phasellus porta, sem a posuere tincidunt, ex purus aliquet nulla, cursus convallis velit arcu id arcu. Quisque ut dictum erat, fermentum porttitor sem. Sed vitae magna in nibh tincidunt imperdiet nec sit amet lectus. Aliquam pretium congue sem quis lacinia. Aenean euismod arcu vel posuere condimentum. Proin maximus ex odio, facilisis vulputate velit accumsan at. Vivamus rhoncus neque non tincidunt molestie. Praesent fermentum quis diam vitae consequat.
								
