//output:index.html

doctype
html
	title 5adiyah
	link(rel="stylesheet", href="css/normalize.css")
	link(rel="stylesheet", href="css/skeleton.css")
	link(rel="stylesheet", href="css/styles.css")
	link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel="stylesheet" type="text/css")
	script(src="jquery-1.12.0.js")
	script(src="scripts.js")
	body
	
	
		.maincontent
			.whitebox
				.topbar
					p . . .
				.text
					h3 PING PONG GAME
					p Ping Poing will count up to your number from 1 with the following exceptions:
					ul
						li Numberes divisible by 3 are replaced with "ping"
						li Numbers divisible by 5 are replaced with "pong"
						li Numbers divisible by 15 are replaced with "pingpong"
					h3 Enter your number below
					form#pingpong
						.form-group
							input(id="number", type="number")
							button(id="convert", type="submit", class="button") CONVERT!
					#results
						ul#resultlist
						button(id="clear", type="submit", class="button") CLEAR
